/*title_CSS*/
#title{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height : 50px;
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : #e5e5e5;
}
.tltItem{
    width : 120px;
    height : 30px;
    text-align : center;
    cursor : pointer;
    margin-top : auto;
    border-radius : 5px 5px 0px 0px;
}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

#Introduce_screen{
    margin-top: 70px;
}
/*Introduce*/
.Int_name{
    text-align : center;
}
#Int_play{
    width : 400px;
    height : 400px;
    display : flex;
    margin : auto;
}

/*ether_Lotto*/
#Buy_screen{
    text-align : center;
    margin-top : 90px;
}
#Buy_proDiv{
    margin-bottom : 20px;
}
#Buy_selectDiv{
    background: #e5e5e5;
    width : 400px;
    margin : auto;
}
.Buy_select{
}
#Buy_choose{
    margin : auto;
}
#Buy_submit{
    margin-top : 10px;
    margin-bottom : 10px;
}

/*resultPage*/
#Res_screen{
    text-align: center;
    margin-top : 20px;
    margin-bottom : 100px;
}
.Res_result{
    background-color: #e5e5e5;
    text-align: center;
    height: auto;
    padding: 8px;
    width: 300px;
    margin: 0 auto;

}
.Res_num{
    background-color: #e5e5e5;
    border-radius: 50%;
}
#Res_table{
    margin: 0 auto;
    text-align: center;
}

/**/
.space{
    height : 10px;
}
